{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "google",
  "rules": {
    "max-len": [
      "error",
      100
    ],
    "no-unused-expressions": 0,
    "max-nested-callbacks": 0
  }
}
